@page
@model FrontEnd.Pages.QPages.DeleteAnswerModel
@{
    ViewData["Title"] = "DeleteAnswer";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Answer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answers.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answers.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answers.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answers.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answers.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answers.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answers.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answers.CreatedDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Answers.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>