@page
@model FrontEnd.Pages.QPages.DeleteCommentModel
@{
    ViewData["Title"] = "DeleteComment";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.CreatedDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Comments.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>