@page
@model FrontEnd.Pages.QPages.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Questions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.CreatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Questions.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
