@page
@model FrontEnd.Pages.QPages.DetailsModel

<div>
    <h4>Question 1</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Questions.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Questions List</a>
</div>
<div>
    <h4>Answers</h4>
    <hr />

</div>
